<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-white">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <div class="row">
          <div class="col-12 col-md-3 col-lg-2">
            <img src="../../../assets/pmc.png" alt="PMC Logo" height="80px" class="my-2">
          </div>
          <span class="col-12 col-md-9 mt-2">
            <h5 class="text-uppercase">Panvel Municipal Corporation</h5>
            <p>Welcome to Panvel City Municipal Corporation Advertisement Booking Portal.</p>
          </span>
        </div>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Pages</h5>

        <ul class="list-unstyled">
          <li>
            <a (click)="this.window.scroll(0, 0)" routerLink="home">Home</a>
          </li>
          <li>
            <a (click)="this.window.scroll(0, 0)" routerLink="login">Login</a>
          </li>
          <li>
            <a (click)="this.window.scroll(0, 0)" routerLink="register">Register</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Sites</h5>

        <ul class="list-unstyled">
          <li>
            <a href="http://www.spit.ac.in/">Sardar Patel Institute of Technology</a>
          </li>
          <li>
            <a href="http://www.panvelcorporation.com/">Panvel Corporation</a>
          </li>
          <li>
            <a (click)="this.window.scroll(0, 0)" routerLink="dashboard">Administrator</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://panvel-corporation.firebaseapp.com/"> Panvel Municipal Corporation</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
