<ng-container *ngIf="!fullview; else Full">
  <h1>{{location.name}}</h1>
  <div id="info-image"></div>
  <div class="info my-4">
    <h4>Rs.{{location.price}}</h4>
    <p>Information about price and current status</p>
  </div>
  <div class="btn btn-danger px-5 py-2 mb-3" (click)="clickBooking()">More info</div><br>
  <div class="btn btn-secondary" (click)="toggleShowInfo()">Back</div>
</ng-container>

<ng-template #Full>
  <div class="container my-lg-4 bg-white border-top" *ngIf="location && bookings">
    <div class="row">
      <div class="text-container col-12 col-lg-5 px-0">
        <div class="px-4 pt-2 pt-lg-4">
          <a routerLink="/">Home</a>
          <h1>{{location.name}}</h1>
        </div>
        <div class="carousel-container">
          <app-image-carousel></app-image-carousel>
        </div>
        <div class="p-4">
          <h5>Details</h5>
          <p>Price: ₹{{location.price}}/day</p>
          <p>Dimensions</p>
          <p>Address</p>
          <div class="btn-danger px-3 py-2 text-center pointer" routerLink="/book">
            Book
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7 p-0" *ngIf="bookings">
        <app-calendar [bookings]="bookings"></app-calendar>
      </div>
    </div>
  </div>
</ng-template>
