<ng-container *ngIf="!fullview; else Full">
  <h1>{{location.name}}</h1>
  <div id="info-image"></div>
  <div class="info my-4">
    <h4>Rs.{{location.price}}</h4>
    <p>Information about price and current status</p>
  </div>
  <div class="btn btn-danger px-5 py-2 mb-3" (click)="clickBooking()">More info</div><br>
  <div class="btn btn-secondary" (click)="toggleShowInfo()">Back</div>
</ng-container>

<ng-template #Full>
  <div class="container my-4 bg-white" *ngIf="location">
    <div class="row">
      <div class="text-container col-12 col-lg-5 p-4">
        <a routerLink="/">Home</a>
        <h1>{{location.name}}</h1>
        <!-- <h5>Rs.{{location.price}}</h5> -->
        <hr>
        <h5>Bookings</h5>
        <ng-container *ngIf="bookings">
          <div class="border p-4 my-1" *ngFor="let booking of bookings">
            {{booking.bookid}}
            <br>From: {{getDate(booking.from)}}
            <br>To: {{getDate(booking.to)}}
          </div>
        </ng-container>
      </div>
      <div class="col-12 col-lg-7 p-0">
        <app-calendar [bookings]="bookings"></app-calendar>
      </div>
    </div>
  </div>
</ng-template>
