<div class="container-fluid px-0">
  <ng-container *ngIf="locations">
    <div class="bg-white p-3 mb-1" *ngFor="let location of locations" [@popIn]>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-6">
            <h3>{{location.name}}</h3>
            <p class="my-0">{{location.id}}</p>
            <p class="my-0">{{location.address}}</p>
            <p class="my-0">₹{{location.price}}</p>
            <div class="btn btn-primary" style="width: 100%" (click)="open(content,location)">Edit Location</div>
          </div>
          <div class="d-none d-md-block col-md-6">
            <app-map [location]="location"></app-map>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Location</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="lName">Name</label>
        <input [(ngModel)]="selected.name" type="text" class="form-control" name="lName" id="lName" aria-describedby="emailHelp"
          placeholder="Enter location name">
      </div>
      <div class="form-group">
        <label for="lAddress">Address</label>
        <textarea [(ngModel)]="selected.address" type="text" class="form-control" name="lAddress" id="lAddress"
          placeholder="Address"></textarea>
      </div>
      <div class="form-group">
        <label for="lPrice">Price</label>
        <input [(ngModel)]="selected.price" type="text" class="form-control" name="lPrice" id="lPrice" placeholder="Price">
      </div>

      <div class="form-group">
        <label for="lPrice">Latitude and Longitude</label>
        <input [(ngModel)]="selected.latlong._lat" type="text" class="form-control" name="lLat" id="lLat" placeholder="Latitude">
        <input [(ngModel)]="selected.latlong._lat" type="text" class="form-control" name="lLong" id="lLong" placeholder="Longitude">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" style="width: 100%" (click)=" updateLocation(); modal.close('Save click')">Save</button>
  </div>
</ng-template>
