<div class="container">
  <div class="form-container bg-white p-3 my-3">
    <div class="col  main-login main-center">
      <form class="" method="post" action="#">

        <div class="row">
          <div class="col-12 col-lg-4">
            <h3>Book Location</h3>
            <hr>
            <!-- Non-Authenticated User -->
            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="cols-sm-2 control-label">Email</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label">Phone no</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="tel" class="form-control" name="password" id="password" placeholder="Enter your number" />
                </div>
              </div>
            </div>

            <div class="form-group" *ngIf="bookings">
              <label for="fromDate" class="cols-sm-2 control-label">From</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="fromDate" [(ngModel)]="fromDate"
                  ngbDatepicker #from="ngbDatepicker" [markDisabled]="isDisabled">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="from.toggle()" type="button"></button>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="toDate" class="cols-sm-2 control-label">To</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="toDate" [(ngModel)]="toDate" ngbDatepicker
                  #to="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="to.toggle()" type="button"></button>
                </div>
              </div>
            </div>
            <hr>

            <div class="form-group ">
              <div type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Proceed
                to Payment</div>
            </div>

          </div>

          <div class="col-12 col-lg-8" *ngIf="location">
            <div class="row">
              <div class="col">
                <h2>{{location.name}}</h2>
                <p>{{location.address}}</p>

                <pre>From: {{ fromDate | json }} </pre>
                <pre>To: {{ toDate | json }} </pre>
                <br>
                <pre>{{bookings | json}}</pre>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
