<div class="container my-lg-3 pb-lg-3">
  <div class="row justify-content-center shadow-lg" id="box" *ngIf="locations" [@popIn]>
    <div id="map-container" class="col-12 col-lg-8 p-0">
      <div class="map" leaflet [leafletOptions]="options">
        <div *ngFor="let marker of markers" [@popIn]>
          <div [leafletLayer]="marker"></div>
        </div>
      </div>
    </div>
    <div id="booking-container" class="col-12 col-lg-4 p-0 text-center">
      <div *ngIf="!showInfo" class="hoarding-list text-white pt-3 pb-md-3 px-0" [@enterAnimation]>
        <h2 class="mb-3">Locations</h2>
        <div class="location-item py-3 text-dark border list-item" *ngFor='let location of locations' (click)="toggleShowInfo(location)"
          [@popIn]>
          <div>
            <h5>{{location.name}}</h5>
          </div>
        </div>
      </div>
      <div *ngIf="showInfo && selected" class="hoarding-info" [@enterAnimation]>
        <app-location [location]="selected" (toggleInfo)="toggleShowInfo()"></app-location>
      </div>
    </div>
  </div>

</div>
