<div class=" p-0 text-center px-1 px-md-0">
  <!-- Stats panel -->
  <div id="stats-panel" class="my-0">
    <div class="container-fluid p-0">
      <div class="row justify-content-between">
        <div class="col-6 col-lg-3 p-0 pb-0 pb-lg-0" [@popIn]>
          <div class="bg-white mx-0 mx-lg-1 p-3 border">
            <h3>{{currMonth}} <br> Revenue</h3>
            <div class="mt-4" *ngIf="totalCost" [@popIn]>
              <h1>₹{{monthCost}}</h1>
            </div>
          </div>
        </div>

        <div class="col-6 col-lg-3 p-0 pb-0 pb-lg-0" [@popIn]>
          <div class="bg-white mx-0 mx-lg-1 p-1 p-md-3 border">
            <h3>Total <br> Revenue</h3>
            <div class="mt-4" *ngIf="totalCost" [@popIn]>
              <h1>₹{{totalCost}}</h1>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 p-0" [@popIn]>
          <div class="bg-white mx-0 mx-lg-1 p-1 p-md-3 border">
            <h3>{{currMonth}} <br> Bookings</h3>
            <div class="mt-4" *ngIf="totalCount" [@popIn]>
              <h1>{{monthlyCount}}</h1>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 p-0" [@popIn]>
          <div class="bg-white mx-0 mx-lg-1 p-1 p-md-3 border">
            <h3>Total <br> Bookings</h3>
            <div class="mt-4" *ngIf="totalCount" [@popIn]>
              <h1>{{totalCount}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Monthly Revenue Chart Panel -->
    <div class="col-12 p-0 my-lg-1" id="revenue-chart-panel">
      <div class="bg-white mx-1 p-3 border" style="min-height: 500px" [@popIn]>
        <h3>Monthly Revenue</h3>
        <app-monthly-revenue-chart></app-monthly-revenue-chart>
      </div>
    </div>
    <!-- Locations List -->
    <!-- <div class="col-12 col-lg-4 p-0 my-lg-1" id="location-panel" [@popIn]>
    <div class="bg-white mx-1 p-3 border">
      <h3>Locations</h3>
      <hr class="my-0">
      <ng-container *ngIf="locations">
        <div *ngFor="let location of locations">
          <div class="border-bottom px-1 py-3">
            {{location.name}}
          </div>
        </div>
      </ng-container>
    </div>
  </div> -->

    <!-- Popularity Chart Panel -->
    <div class="col-12 p-0 my-lg-1" id="popular-chart-panel">
      <div class="bg-white mx-1 p-0 p-3 px-0 border" [@popIn]>
        <h3>Location Popularity</h3>
        <div *ngIf="locations" [@popIn]>
          <app-popular-chart [locations]="locations"></app-popular-chart>
        </div>
      </div>
    </div>

    <!-- Location Revenue Chart Panel -->
    <div class="col-12 p-0 my-lg-1" id="revenue-chart-panel">
      <div class="bg-white mx-1 p-3 px-0 border" [@popIn]>
        <h3>Location Revenue</h3>
        <div *ngIf="locations" [@popIn]>
          <app-revenue-chart [locations]="locations"></app-revenue-chart>
        </div>
      </div>
    </div>

  </div>

</div>
